@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Fira';
   font-style: normal;
   font-weight: 500;
   src: url('/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype'),
}


// Heading Defaults (Light and Dark)
h1 {
   @apply text-8xl font-bold text-gray-800 dark:text-gray-100;
 }
 
 h2 {
   @apply text-6xl font-semibold text-gray-700 dark:text-gray-200;
 }
 
 h3 {
   @apply text-4xl font-medium text-gray-700 dark:text-gray-200;
 }
 
 h4 {
   @apply text-3xl font-medium text-gray-600 dark:text-gray-300;
 }
 
 h5 {
   @apply text-2xl font-medium text-gray-600 dark:text-gray-300;
 }
 
 h6 {
   @apply text-xl font-medium text-gray-600 dark:text-gray-300;
 }
 
 // Paragraph Default
 p {
   @apply text-base text-gray-700 dark:text-gray-200 leading-relaxed;
 }
 

 
 // Button Defaults
 button {
   @apply bg-blue-500 text-white font-medium py-2 px-4 rounded hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700;
 }
 
 // Input Fields
 input, textarea, select {
   @apply border border-gray-300 dark:border-gray-600 p-2 rounded w-full bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400 focus:border-blue-500 dark:focus:border-blue-400;
 }
 
 // Input Placeholder Styling
 input::placeholder, textarea::placeholder {
   @apply text-gray-400 dark:text-gray-500;
 }
 
 // List Defaults
 ul, ol {
   @apply list-inside list-disc dark:list-inside dark:list-disc;
 }
 
 // Table Defaults
 table {
   @apply table-auto border-collapse w-full;
 }
 
 th, td {
   @apply border border-gray-300 dark:border-gray-600 p-2 text-left;
 }
 
 thead th {
   @apply bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-gray-100;
 }
 
 // Default Body Settings
 body {
   font-family: Fira;
   @apply text-gray-800 bg-white dark:bg-gray-900 dark:text-gray-100;
   overflow: hidden;
 } 
 